{% extends "base.html" %}

{% block content %}
    {% set user_list = ["инженер-исследователь", "пилот", "строитель", "экзоюиолог", "врач",
                     "инженер по терраформированию", "климатолог", "специалист по радиационной защите", "астрогеолог",
                     "гляциолог", "инженер жизнеобеспечения", "метеоролог", "оператор марсохода", "киберинженер",
                     "штурман", "пилот дронов"] %}
    {% if fl == 1 %}
        <h2>Список профессий</h2>
        <ol>
        {% for user in user_list %}
        <h5><li>{{ user }}</li></h5>
        {% endfor %}
        </ol>
    {% elif fl == 2 %}
        <h2>Список профессий</h2>
        <ul>
        {% for user in user_list %}
        <h5><li>{{ user }}</li></h5>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Неверный параметр</h2>
    {% endif %}
{% endblock %}